<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description">
  <link rel="icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/contact.css">
  <title>Contact Page</title>
</head>

<body>
  <header>
    <img src="/assets/logo_large.png" alt="">
    <nav>
      <ul>
        <li><a href="/view/index.html">Home</a></li>
        <li><a href="/view/over-ons.html">Over ons</a></li>
        <li><a href="/view/contact.html" class="active">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div id="contact" class="banner">
      <h1>Contact</h1>
    </div>
    <section>
      <aside>
        <h4 class="title"><span>Hier kunt u ons vinden!</span></h4>
        <div>
          <h4>Adres</h4>
          <span>Hollandsch Diep 61c</span>
          <p>2904 EP, Capelle aan den IJssel</p>
        </div>
        <div>
          <h4>Telefoonnummer</h4>
          <span>+31 612345678</span>
        </div>
        <div>
          <h4>Email</h4>
          <address>Info@bakkerij.nl</address>
        </div>
        <div>
          <h4>Openingsdagen</h4>
          <ul class="opening-hours">
            <li><span class="day">Maandag</span><span class="time">Gesloten</span></li>
            <li><span class="day">Dinsdag</span><span class="time">8:00 - 17:00</span></li>
            <li><span class="day">Woensdag</span><span class="time">8:00 - 17:00</span></li>
            <li><span class="day">Donderdag</span><span class="time">8:00 - 17:00</span></li>
            <li><span class="day">Vrijdag</span><span class="time">8:00 - 20:00</span></li>
            <li><span class="day">Zaterdag</span><span class="time">8:00 - 17:00</span></li>
            <li><span class="day">Zondag</span><span class="time">Gesloten</span></li>
          </ul>
        </div>
      </aside>
      <form action="">
        <div>
          <label for="">Naam</label>
          <input type="text">
        </div>
        <div>
          <label for="">Email adres</label>
          <input type="text">
        </div>
        <div>
          <label for="">Telefoonnummer</label>
          <input type="text">
        </div>
        <div>
          <label for="">Bericht</label>
          <textarea name="" id=""></textarea>
        </div>
        <div class="button-div">
          <button>Verzenden</button>
        </div>
      </form>
    </section>
  </main>
  <footer>
    <div>
      <h3>©2021 - Bakkerij</h3>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>

</html>