<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description">
  <link rel="icon">
  <title>Index Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/index.css">
</head>

<body>
  <header>
    <img src="/assets/logo_large.png" alt="">
    <nav>
      <ul>
        <li><a href="/view/index.html" class="active">Home</a></li>
        <li><a href="/view/over-ons.html">Over ons</a></li>
        <li><a href="/view/contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="banner">
      <h1>Home</h1>
    </div>
    <article>
      <div class="img-wrapper">
        <img src="/assets/Image-4.jpg" alt="">
      </div>
      <div>
        <div class="text-column">
          <h2>Over ons</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae sapien a arcu ornare lobortis commodo
            sit amet dui. Sed maximus accumsan libero, id malesuada diam tincidunt sit amet. Nunc semper odio tristique,
            mattis purus eget, efficitur mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
            ac
            turpis egestas. Nunc eleifend scelerisque rhoncus. Quisque ornare erat in placerat facilisis. In a lorem eu
            neque varius consequat at in ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae
            sapien
            a arcu ornare lobortis commodo sit amet dui. Sed maximus accumsan libero, id malesuada diam tincidunt sit
            amet. Nunc semper odio tristique, mattis purus eget, efficitur mi. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas.</p>
          <button>Lees meer</button>
        </div>
    </article>
    <article>
      <div class="text-column">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae sapien a arcu ornare lobortis commodo
          sit amet dui. Sed maximus accumsan libero, id malesuada diam tincidunt sit amet. Nunc semper odio tristique,
          mattis purus eget, efficitur mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
          turpis egestas. Nunc eleifend scelerisque rhoncus. Quisque ornare erat in placerat facilisis. In a lorem eu
          neque varius consequat at in ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae sapien
          a arcu ornare lobortis commodo sit amet dui. Sed maximus accumsan libero, id malesuada diam tincidunt sit
          amet. Nunc semper odio tristique, mattis purus eget, efficitur mi. Pellentesque habitant morbi tristique
          senectus et netus et malesuada fames ac turpis egestas. Nunc eleifend scelerisque rhoncus. Quisque ornare erat
          in placerat facilisis. In a lorem eu neque varius consequat at in ante.</p>
        <button>Lees meer</button>
      </div>
      <div class="img-wrapper">
        <img src="/assets/Image-2.jpg" alt="">
      </div>
    </article>
  </main>
  <footer>
    <div>
      <h3>©2021 - Bakkerij</h3>
      <nav>
        <ul>
          <li><a href="/view/index.html">Home</a></li>
          <li><a href="/view/over-ons.html">Over ons</a></li>
          <li><a href="/view/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>

</html>