<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description">
  <link rel="icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/over-ons.css">
  <title>Over-ons Page</title>
  <script src="https://kit.fontawesome.com/b355655701.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <img src="/assets/logo_large.png" alt="">
    <div class="hamburger">
      <i class="fa-solid fa-bars fa-2x" style="color: #D8BC69;"></i>
    </div>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="over-ons.html" class="active">Over ons</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div id="over-ons" class="banner">
      <h1>Over ons</h1>
    </div>
    <article>
      <section>
        <h2>Over ons</h2>
        <p>Curabitur felis dolor, gravida et dui eu, mattis mollis nulla. Quisque in pretium turpis, sed interdum
          mauris.
          Vivamus imperdiet, nisl eu accumsan finibus, risus leo commodo ante, a vulputate tellus nulla eu tellus. Etiam
          vitae nisi neque. Donec aliquet arcu nec sem pretium aliquam. Phasellus quis euismod metus. Nulla facilisi.
          Donec vestibulum, leo sed auctor sollicitudin, magna nunc egestas odio, et porttitor libero enim vitae tellus.
          Vestibulum efficitur dui quam, nec faucibus elit egestas sit amet. Proin quis iaculis purus, tristique blandit
          magna. Nulla nec sollicitudin velit. Mauris lorem est, lobortis id diam at, lobortis convallis erat. Maecenas
          nec varius erat. Donec tortor velit, fringilla eleifend est quis, vehicula rutrum erat.</p>
      </section>
      <section class="image">
        <img src="/assets/Image-5.jpg" alt="">
      </section>
      <p>Vivamus ut mattis nunc. Fusce convallis turpis ac urna dapibus ultrices. Nam lobortis diam nec tellus
        sollicitudin pretium sit amet at erat. Nulla interdum commodo neque, id tempor est viverra in. Phasellus id
        tellus odio. Ut sollicitudin, nunc sit amet placerat aliquet, nisl odio varius sapien, vel faucibus ligula lacus
        id nibh. Pellentesque id lorem vel arcu molestie rutrum sit amet sodales lectus. Quisque dictum lorem vitae
        risus consectetur, eget ornare leo pellentesque. Sed felis ex, ultricies nec feugiat vitae, rutrum in sem
        Curabitur felis dolor, gravida et dui eu, mattis mollis nulla. Quisque in pretium turpis, sed interdum mauris.
        Vivamus imperdiet, nisl eu accumsan finibus, risus leo commodo ante, a vulputate tellus nulla eu tellus. Etiam
        vitae nisi neque. Donec aliquet arcu nec sem pretium aliquam. Phasellus quis euismod metus. Nulla facilisi.
        Donec vestibulum, leo sed auctor sollicitudin, magna nunc egestas odio, et porttitor libero enim vitae tellus.
        Vestibulum efficitur dui quam, nec faucibus elit egestas sit amet. Proin quis iaculis purus, tristique blandit
        magna. Nulla nec sollicitudin velit. Mauris lorem est, lobortis id diam at, lobortis convallis erat. Maecenas
        nec varius erat. Donec tortor velit, fringilla eleifend est quis, vehicula rutrum erat.</p>
      <p>Vivamus ut mattis nunc. Fusce convallis turpis ac urna dapibus ultrices. Nam lobortis diam nec tellus
        sollicitudin pretium sit amet at erat. Nulla interdum commodo neque, id tempor est viverra in. Phasellus id
        tellus odio. Ut sollicitudin, nunc sit amet placerat aliquet, nisl odio varius sapien, vel faucibus ligula lacus
        id nibh. Pellentesque id lorem vel</p>
    </article>
    <section class="images">
      <aside>
        <img src="/assets/Image-1.jpg" alt="">
        <h2>Lorem Ipsum</h2>
        <h3>Titel</h3>
        <div>
          <i class="fa-brands fa-instagram fa-2x" style="color: #D8BC69;"></i>
          <i class="fa-brands fa-square-facebook fa-2x" style="color: #D8BC69;"></i>
          <i class="fa-brands fa-twitter fa-2x" style="color: #D8BC69;"></i>
          <i class="fa-brands fa-linkedin-in fa-2x" style="color: #D8BC69;"></i>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla justo nec diam vulputate, at luctus
          eros placerat. Duis massa arcu, ultrices mollis enim quis, tempor rutrum nunc. Pellentesque nisi massa,
          vehicula quis viverra eget, sollicitudin vestibulum ex.</p>
      </aside>
      <aside>
        <img src="/assets/Image-1.jpg" alt="">
        <h2>Lorem Ipsum</h2>
        <h3>Titel</h3>
        <div>
          <i class="fa-brands fa-instagram fa-2x" style="color: #D8BC69;"></i>
          <i class="fa-brands fa-square-facebook fa-2x" style="color: #D8BC69;"></i>
          <i class="fa-brands fa-twitter fa-2x" style="color: #D8BC69;"></i>
          <i class="fa-brands fa-linkedin-in fa-2x" style="color: #D8BC69;"></i>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla justo nec diam vulputate, at luctus
          eros placerat. Duis massa arcu, ultrices mollis enim quis, tempor rutrum nunc. Pellentesque nisi massa,
          vehicula quis viverra eget, sollicitudin vestibulum ex.</p>
      </aside>
    </section>
  </main>
  <footer>
    <div>
      <h3>©2021 - Bakkerij</h3>
      <nav>
        <ul>
          <li><a href="/view/index.html">Home</a></li>
          <li><a href="/view/over-ons.html">Over ons</a></li>
          <li><a href="/view/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>

</html>